.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-height: 0;
}

.centerCol {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.timelineArea {
  height: 220px;
  min-height: 160px;
  flex-shrink: 0;
  overflow: hidden;
}
